.filter-buttons * {
	display: inline-flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	background-color: #490ef2;
	border: white;
	color: #bfbfbf;
	font-family: 'poppins';
	font-size: 18px;
	border-radius: 22px;
	padding: 6px 16px;
	margin-right: 8px;
	margin-bottom: 10px;
	width: 130px;
}

.filter-buttons .disabled {
	opacity: 0.6;
}

#jobType {
	font-family: 'poppins';
	font-weight: normal;
	padding-left: 20px;
	margin-left: 8px;
}

#allJobTypes {
	width: 145px;
}

nav {
	background-color: #ffe330;
	border-radius: 100px;
	padding: 0px 50px;

	display: flex;
	align-items: center;

	width: max-content;
	margin: 0 auto;
	margin-top: 50px;
	height: 60px;

	border: 1.5px solid black;
	box-shadow: 1px 3px 3px rgb(180, 177, 177);
}

nav ul {
	list-style-type: none;
	display: flex;
	justify-content: space-around;
	align-items: center;
	gap: 10px;
	padding: 0;
}

nav ul li {
	position: relative;
	padding: 10px;
	cursor: pointer;
	border-radius: 10px;
}

nav ul li.selected {
	background-color: white;
}

nav ul li:hover {
	background-color: #f1f1f1;
}

nav ul li:hover > a {
	font-weight: 600;
}

/*
To avoid content shift on hover due to bolding the font, we add an invisible
bold pseudoelement. This relies on having the 'title' attribute on the <a>
element containing the link text.
https://stackoverflow.com/a/20249560/8289918
*/
nav a::before {
	display: block;
	content: attr(title);
	font-weight: bold;
	height: 0;
	overflow: hidden;
	visibility: hidden;
}

nav ul li a {
	text-decoration: none;
	color: black;
	display: inline-block;
}

nav img {
	margin-left: 4px;
	width: 2vh;
	height: 8px;
}

/* nav ul li.dropdown {
padding-right: 30px;
} */

nav.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
}

nav ul li.dropdown .dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

nav ul li.dropdown:hover .dropdown-content {
	display: flex;
	flex-direction: column;
}

nav ul li.dropdown-content li {
	padding: 10px;
}

nav ul li.dropdown-content li a:hover {
	background-color: #f1f1f1;
}

nav .dropdown:hover + .dropdown-content {
	display: flex;
	flex-direction: column;
	margin-top: 13px;
}
