body {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	font-size: 15px;
	background-color: #faf9f6;

	display: flex;
	flex-direction: column;
	gap: 3em;
}

h1 {
	margin: 0% 0%;
	font-size: 350%;
	text-transform: uppercase;
	line-height: 1.2;
}

main {
	display: flex;
	justify-content: center;
}

.top {
	max-width: 85%;
	display: grid;
	grid:
		'prompt image'
		'query image'
		/ 3fr 2fr;
	align-items: center;
	justify-items: space-between;
	padding: 0% 10%;
}

@media screen and (max-width: 1060px) {
	.top {
		width: 100vw;
		grid:
			'prompt image'
			'query query'
			/ 2fr 1fr;
	}
}

@media screen and (max-width: 680px) {
	h1 {
		font-size: 200%;
	}
}

.prompt {
	grid-area: prompt;
	display: flex;
	flex-direction: column;
}

.prompt > p {
	margin: 0px 0px;
	font-weight: 400;
	font-size: 125%;
}

.top > img {
	grid-area: image;
	width: 100%;
}

.query {
	grid-area: query;
}

.wave {
	position: absolute;
	width: 200%;
	height: 100%;
	/* Adjust wave height */
	background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="white" d="M0,96L48,106.7C96,117,192,139,288,149.3C384,160,480,160,576,138.7C672,117,768,75,864,74.7C960,75,1056,117,1152,128C1248,139,1344,117,1392,106.7L1440,96L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path></svg>');
	background-size: 100% 100%;
	margin-top: 7%;
	transform: translateX(-50%);
}
