body {
    margin: 0;
    padding: 0;
    /* font-family: ;
    font-size: ; */
}

nav {
    background-color: yellow;
    border-radius: 999px;
    /* idk RANDOM NUMBER RN */
    padding: 0 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: max-content;
    margin: 0 auto;
    margin-top: 50px;
    /* Adjust */
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul li {
    position: relative;
    padding: 10px;
    cursor: pointer;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

nav ul li.selected {
    background-color: white;
    border-radius: 10px 10px 0 0;
}

/* nav ul li.dropdown {
    padding-right: 30px;
} */

nav ul li.dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

nav ul li.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
}

nav ul li.dropdown-content li {
    padding: 10px;
}

nav ul li.dropdown-content li a:hover {
    background-color: #f1f1f1;
}